:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.nav-list {
  display: flex;
  margin: 0 1rem;
  li {
    list-style: none;
  }
  a {
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
    color: var(--main-white);
    text-decoration: none;
  }
  a:hover {
    background: var(--main-blue);
  }
}
%infor-shared {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

// Welcome section
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  line-height: 28%;

  h1 {
    @extend %infor-shared;
    font-size: 4rem;
  }
  p {
    font-size: 2rem;
    font-style: italic;
    font-weight: normal;
    color: var(--main-red);
    text-align: center;
  }
}

// Projects section
.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
  width: 100%;

  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);

    @media (max-width: 28.75em) {
      font-size: 4rem;
    }
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;

    @media (max-width: 30.625em) {
      .projects-section {
        padding: 6rem 1rem;
      }

      .projects-grid {
        grid-template-columns: 1fr;
      }
    }
    .project {
      background: var(--main-gray);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      color: var(--main-white);
      text-decoration: none;

      .project-image {
        height: calc(100% - 6.8rem);
        width: 100%;
        object-fit: cover;
      }

      .project-title {
        font-size: 1.5rem;
        padding: 2rem 0rem;
        margin: 0%;
      }
      .code {
        color: var(--main-gray);
        transition: color 0.3s ease-out;
        &:hover {
          color: #ff7f50;
        }
      }
    }
  }
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

  .btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
    color: var(--main-white);
    text-decoration: none;
    padding: 0%;

    &:hover {
      background: var(--main-red);
      > i {
        transform: translateX(2px);
      }
    }
    > i {
      margin-left: 10px;
      transform: translateX(0);
      transition: transform 0.3s ease-out;
    }
  }
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
  line-height: 28%;
}

.contact-section-header > h2 {
  font-size: 4rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    color: var(--main-white);
    font-size: 2rem;
  }
  .btn {
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 2px;
  }
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

// Footer
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
  width: 100%;
  font-size: 1.2rem;

  > p {
    margin: 2rem;
  }

  i {
    vertical-align: middle;
  }
  a {
    text-decoration: none;
    color: var(--main-white);
  }

  @media (max-width: 28.75em) {
    flex-direction: column;
    text-align: center;
  }
}
